<h1 class="col-md-5 mb-2 container">Editing Product</h1>


<br>

<div class="col-md-5 mt-3 container">
  <%= render "form", product: @product %>
  <%= link_to "Show this product", @product %> |
  <%= link_to "Back to products", products_path %>
</div>
